<div class="row">
    <div class="col-md-12 text-center">
        <h1>sl-ember-translate</h1>
        <p class="lead">An Ember CLI Addon that provides the ability to lookup a dictionary value through method calls or via a component in your templates.</p>
    </div>
</div>

<div class="row">
    <div class="col-md-4 text-center">
        <h3>{{#link-to "demo"}}<i class="fa fa-cubes fa-5x"></i>{{/link-to}}</h3>
        <p>{{#link-to "demo"}}<b>Demo</b>{{/link-to}}</p>
    </div>
    <div class="col-md-4 text-center">
        <h3><a href="https://github.com/softlayer/sl-ember-translate/blob/master/README.md"><i class="fa fa-book fa-5x"></i></a></h3>
        <p><a href="https://github.com/softlayer/sl-ember-translate/blob/master/README.md"><b>Documentation</b></a></p>
    </div>
    <div class="col-md-4 text-center">
        <h3><a href="https://github.com/softlayer/sl-ember-translate"><i class="fa fa-github fa-5x"></i></a></h3>
        <p><a href="https://github.com/softlayer/sl-ember-translate"><b>Available on GitHub</b></a></p>
    </div>
</div>